body{
    background-color: #727272;
}

#encabezado{
    color: #727272;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}


button{
    background-color: #006bf7; 
    border: 2px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
table {
    width:1025px;
    font:normal 15px Arial;
    text-align:center;
    border-collapse:collapse;
}
table th {
    width: 500px;
    font:bold 15px Arial;
    background-color:lightblue;
}
table td{
    width:500px;
    font:normal 13px Arial;
    text-align:center;
    border-collapse:collapse;
}
#columna{
    display: flex;
    width: 80%;
    height: auto;
    margin: auto;
    border: rgb(255, 252, 252) ;

}
.fila{
    display: flex;
    width: 80%;
    height: auto;
    margin: auto;
    border: rgba(255, 252, 252, 0.062) ;
}

.id{
    background-color: #0e68dd;
    display: flex;
    margin-right: 1px;
    float: left;
    width: 150px;
    height: 50px;
    text-align: center;
   
}
.matri{
    background-color: #006bf7;
    display: flex;
   margin-left: 1px;
   margin-right: 1px;
    width: 180px;
    height: 50px;
    
}
.nom{
    background-color: #006bf7;
    display: flex;
    width: 420px;
    height: 50px;
    text-align: center;
}
.mate{
    background-color: #006bf7;
    display: flex;
    margin-left: 1px;
    margin-right: 1px;
    width: 100px;
    height: 50px;
    text-align: center;
}
.quimi{
    background-color: #006bf7;
    display: flex;
    margin-left: 1px;
    margin-right: 1px;
    width: 100px;
    height: 50px;
    text-align: center;
}
.fisi{
    background-color: #006bf7;
    display: flex;
    margin-left: 1px;
    margin-right: 1px;
    width: 100px;
    height: 50px;
    
}
.geo{
    background-color: #006bf7;
    display: flex;
    margin-left: 1px;
   margin-right: 1px;
    width: 100px;
    height: 50px;
    text-align: center;
}
.prom{
    background-color: #006bf7;
    display: flex;
    margin-left: 1px;
    margin-right: 1px;
    width: 100px;
    height: 50px;
    text-align: center;
}
#iden{
    background-color: #0e68dd;
    display: flex;
    width: 120px;
    text-align: center;
}
#matricula{
    background-color: #0e68dd;
    
    width: 150px;
    text-align: center;
}
#nombre{
    background-color: #0e68dd;
    
    width: 1200px;
    text-align: center;
}
#matematicas{
    background-color: #0e68dd;
    
    width: 150px;
    text-align: center;
}
#quimica{
    background-color: #0e68dd;
    
    width: 150px;
    text-align: center;
}
#fisica{
    background-color: #0e68dd;
    
    width: 150px;
    text-align: center;
}
#geografia{
    background-color: #0e68dd;
    
    width: 150px;
    text-align: center;
}
#promedio{
    background-color: #0e68dd;
    
    width: 150px;
    text-align: center;
}
